/* font  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}

/* shared  style */
.btn-primary {
    border-radius: 8px;
    background: #c37924;
    margin: 20 ;
    padding: 20px 25px;
    color: #FFF4E7;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;
    transition: background-color 0.5s ease;
}
.btn-primary:hover{
    background-color: #FF900E;
}
.text-light-gray {
    color: #727272;
    margin-bottom: 20px;
}

/* header styles */
header {
    background-color: #FFF4E7;
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-tittle {
    color: #131313;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 50px;
}
.banner img{
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
}

/* <!-- This is main section --> style----------*/

/* team section style */
main{
    max-width: 1440px;
    margin: 70px auto;
}
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    border-radius: 5px;
}
.teams-contaent{
    padding-right: 70px;
    padding-left: 70px;
}
.team-taitle{
font-size: 2.9rem;
margin-bottom: 20px;
}
.team-taitle .quick-list{
    color: #727272;
    font-weight: 500;
}
.team-taitle .of-our{
    font-weight: 700;
    color: #FF900E;
}




/* responsive style */
/* Mobile devicese */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .teams-container{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
}

/* medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav, 
    .teams-container{
        flex-direction: column;
    }
}